<div class="container-fluid">

  <div class="row">

    <!-- Left Column displaying all Series -->
    <div class="col-md-2 mt-2">
      <h3>MTG Sets</h3>
      <ul class="list-group">
        <li class="list-group-item p-1 list-group-item-action pointer" *ngFor="let mtgSet of mtgSets"
            [ngClass]="{'active': selectedSet && (mtgSet.code == selectedSet.code)}"
            (click)="getCardsBySet(mtgSet)">
          <span class="ss ss-{{mtgSet.code}} ss-2x ss-fw mr-1"></span>
          <span class="pointer font-12">{{mtgSet.name}}</span>
          <span class="badge badge-pill mr-1">{{mtgSet.card_count}}</span>
        </li>
      </ul>
    </div>

    <!-- Main Table for Comics -->
    <div class="col-md-10 mt-2" *ngIf="selectedSet">
      <h3>
        <span class="ss ss-{{selectedSet.code}} ss-fw ss-2x mr-2"></span>
        {{selectedSet.name}} ({{selectedSet.released_at | date:'MMMM y'}})
        <i class="font-14 fas fa-trash pointer my-list-group-item" (click)="deleteSetAndCards(selectedSet.code)"></i>
      </h3>
      <table class="table table-sm table-hover">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">
            <div class="input-group">
              <input type="text" (keyup.enter)="filterTable(nameFilter)" [(ngModel)]="nameFilter" placeholder="Name"/>
              <div class="input-group-append">
                <div class="input-group-text"><i class="fas fa-redo pointer" (click)="getCardsBySet(selectedSet); nameFilter = null;"></i></div>
              </div>
            </div>
          </th>
          <th scope="col">Type</th>
          <th scope="col">Cost</th>
          <th scope="col"><i class="fas fa-dollar-sign"></i></th>
          <th scope="col">Owned</th>
          <th scope="col">In Deck</th>
          <th scope="col">Deck / Note</th>
        </tr>
        </thead>
        <tbody class="my-list-group-item font-12">
        <tr *ngFor="let card of mtgCards" class="ss-{{card.rarity}}">
          <td><span class="ss ss-{{card.set}} mr-2"></span>{{card.collector_number}}</td>
          <td>{{(card.name.length > 28) ? (card.name | slice:0:28)+'..' : card.name}}</td>
          <td>{{(card.type_line.length > 28) ? (card.type_line | slice:0:28)+'..' : card.type_line}}</td>
          <td>
            <span *ngFor="let styleItem of card.mana_cost_display">
              <span *ngIf="styleItem !== '//'" class="ms {{styleItem}} ms-cost ms-shadow"></span>
              <span *ngIf="styleItem === '//'"> {{styleItem}} </span>
            </span>
          </td>
          <td class="font-12">
            {{card.usd}}
          </td>
          <td class="font-14">
            <i class="far fa-minus-square mr-1 pointer" (click)="decreaseOwnedByOne(card)"></i>
            {{card.collection_count}}
            <i class="far fa-plus-square ml-1 pointer" (click)="increaseOwnedByOne(card)"></i>
          </td>
          <td class="font-14">
            <i class="far fa-minus-square mr-1 pointer" (click)="decreaseInDeckByOne(card)"></i>
            {{card.in_deck_count ? card.in_deck_count : 0}}
            <i class="far fa-plus-square ml-1 pointer" (click)="increaseInDeckByOne(card)"></i>
          </td>
          <td>
            <input type="text" class="form-control form-control-sm" placeholder="" [(ngModel)]="card.deck_note" (change)="storeDeckNote(card)">
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
