<mat-grid-list cols="10" rowHeight="60px">

  <!-- All Sets -->
  <mat-grid-tile [colspan]="10" [rowspan]="1">
    <mat-chip-list [selectable]="true">
      <mat-chip (click)="getAllCards(); chipAll.select()" #chipAll="matChip" color="accent" class="pointer">
        <mat-icon>apps</mat-icon>
        <span class="font-12">ALL</span>
      </mat-chip>
      <mat-chip (click)="getMissingCards(); chipMiss.select()" #chipMiss="matChip" color="accent" class="pointer">
        <mat-icon>search</mat-icon>
        <span class="font-12">MIS</span>
      </mat-chip>
      <mat-chip (click)="getTokens(); chipTokens.select()" #chipTokens="matChip" color="accent" class="pointer">
        <mat-icon>extension</mat-icon>
        <span class="font-12">TOK</span>
      </mat-chip>
      <mat-chip *ngFor="let mtgSet of mtgSets" (click)="getCardsBySet(mtgSet); chip.select()" #chip="matChip" color="accent" class="pointer">
        <span class="ss ss-{{mtgSet.code}} font-18 ss-fw"></span>
        <span class="font-12">{{mtgSet.code.toUpperCase()}}</span>
      </mat-chip>
    </mat-chip-list>
  </mat-grid-tile>

  <!-- Global Actions -->
  <mat-grid-tile [colspan]="3" [rowspan]="1">

    <mat-form-field class="wid-150">
      <input matInput type="text" placeholder="Update all prices" [(ngModel)]="manualUpdateValue">
      <button mat-button *ngIf="manualUpdateValue" matSuffix mat-icon-button aria-label="Clear" (click)="manualUpdateValue=null">
        <mat-icon>close</mat-icon>
      </button>
      <button mat-button matSuffix mat-icon-button aria-label="Apply" (click)="modifyAllBuyPrice(manualUpdateValue); manualUpdateValue=null">
        <mat-icon>check</mat-icon>
      </button>
    </mat-form-field>

    <div class="ml-3">
      Owned:
      <button mat-icon-button (click)="decreaseAllOwnedByOne()">
        <mat-icon>exposure_neg_1</mat-icon>
      </button>
      <button mat-icon-button (click)="increaseAllOwnedByOne()">
        <mat-icon>exposure_plus_1</mat-icon>
      </button>
    </div>
  </mat-grid-tile>

  <!-- Selected Set Title -->
  <mat-grid-tile [colspan]="4" [rowspan]="1">
    <h5 *ngIf="selectedSet">
      <span class="ss ss-{{selectedSet.code}} ss-fw ss-2x mr-2"></span>
      {{selectedSet.name}} <span class="font-12">({{selectedSet.released_at | date:'MMMM y'}}
      / {{selectedSet.card_count}})</span>
      <i class="font-12 fas fa-trash pointer my-list-group-item ml-1" (click)="deleteSetAndCards(selectedSet.code)"></i>
    </h5>
    <h5 *ngIf="!selectedSet"></h5>
  </mat-grid-tile>

  <!-- Global Filter -->
  <mat-grid-tile [colspan]="3" [rowspan]="1">
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="">
    </mat-form-field>
  </mat-grid-tile>

</mat-grid-list>

<!-- Page Content -->
<div>

  <!-- Table -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Number + Symbol column -->
    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let card">{{card.collector_number}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Rarity column -->
    <ng-container matColumnDef="rarity">
      <th mat-header-cell *matHeaderCellDef>Rarity</th>
      <td mat-cell *matCellDef="let card">
        <span class="ss ss-2x ss-{{card.set}} ss-{{card.rarity}} pointer" (click)="openDialog(card)"></span>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Name column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let card">{{(card.name.length > 28) ? (card.name | slice:0:28) + '..' : card.name}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Type column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let card">{{(card.type_line.length > 28) ? (card.type_line | slice:0:28) + '..' : card.type_line}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Cost column -->
    <ng-container matColumnDef="cost">
      <th mat-header-cell *matHeaderCellDef>Mana Cost</th>
      <td mat-cell *matCellDef="let card">
            <span *ngFor="let styleItem of card.mana_cost_display">
              <span *ngIf="styleItem !== '//'" class="ms {{styleItem}} ms-cost ms-shadow"></span>
              <span *ngIf="styleItem === '//'"> {{styleItem}} </span>
            </span>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Current value column -->
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef class="wid-50">CHF</th>
      <td mat-cell *matCellDef="let card">{{card.eur * EUR_TO_CHF_FX | number:'1.0-2'}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Buy Price column -->
    <ng-container matColumnDef="buy_price">
      <th mat-header-cell *matHeaderCellDef>Buy Price</th>
      <td mat-cell *matCellDef="let card">
        <mat-form-field class="wid-50">
          <input matInput (change)="updateCard(card)" placeholder="" [(ngModel)]="card.purchase_price">
        </mat-form-field>
      </td>
      <td mat-footer-cell *matFooterCellDef> Total</td>
    </ng-container>

    <!-- Gain/Loss column -->
    <ng-container matColumnDef="gain_loss">
      <th mat-header-cell *matHeaderCellDef class="wid-50">Gain/Loss</th>
      <td mat-cell *matCellDef="let card" [ngClass]="{'red': card.gain_loss < 0, 'green': card.gain_loss > 0}">
        {{card.gain_loss | number:'1.0-2'}}
      </td>
      <td mat-footer-cell *matFooterCellDef [ngClass]="{'red': totalGainLoss < 0, 'green': totalGainLoss > 0}">
        {{totalGainLoss | number:'1.0-2'}}
      </td>
    </ng-container>

    <!-- Owned column -->
    <ng-container matColumnDef="owned">
      <th mat-header-cell *matHeaderCellDef class="spinner-column">Owned</th>
      <td mat-cell *matCellDef="let card">
        <button type="button" mat-icon-button (click)="decreaseOwnedByOne(card)">
          <mat-icon>arrow_left</mat-icon>
        </button>
        <b class="font-20">{{card.collection_count}}</b>
        <button type="button" mat-icon-button (click)="increaseOwnedByOne(card)">
          <mat-icon>arrow_right</mat-icon>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- In Deck column -->
    <ng-container matColumnDef="in_deck">
      <th mat-header-cell *matHeaderCellDef class="spinner-column">In Deck</th>
      <td mat-cell *matCellDef="let card">
        <button type="button" mat-icon-button (click)="decreaseInDeckByOne(card)">
          <mat-icon>arrow_left</mat-icon>
        </button>
        <b class="font-20">{{card.in_deck_count}}</b>
        <button type="button" mat-icon-button (click)="increaseInDeckByOne(card)">
          <mat-icon>arrow_right</mat-icon>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Deck/Notes column -->
    <ng-container matColumnDef="deck_notes">
      <th mat-header-cell *matHeaderCellDef>Deck / Notes</th>
      <td mat-cell *matCellDef="let card">
        <mat-form-field>
          <input matInput (change)="updateCard(card)" placeholder="" [(ngModel)]="card.deck_note">
        </mat-form-field>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Display of selected columns -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>

  <!-- Paginator -->
  <mat-paginator [pageSizeOptions]="[10, 100]" showFirstLastButtons></mat-paginator>
</div>
