<div class="container-fluid">

  <div class="row mt-2">

    <!-- All Sets -->
    <div class="col-md-2">
      <h3>Card Filter</h3>
      <ul class="list-group">
        <li class="list-group-item p-0 border-0">
          <div class="form-check font-14 ml-2">
            <input class="form-check-input" [(ngModel)]="showOnlyMissing" type="checkbox" id="onlyMissing"
                   value="" (change)="getCardsFilter(selectedSetCode, selectedRarity, showOnlyMissing)">
            <label class="form-check-label" for="onlyMissing">Show only missing</label>
          </div>
          <div class="form-check font-14 ml-2">
            <input class="form-check-input" [(ngModel)]="displayExport" type="checkbox" id="exportTextCheckbox" value="">
            <label class="form-check-label" for="exportTextCheckbox">Export View</label>
          </div>
        </li>
        <li class="list-group-item p-0 border-0">
          <div class="form-check form-check-inline font-14 ml-2 mr-1">
            <input class="form-check-input m-0" [(ngModel)]="selectedRarity" type="radio" name="inlineRadioOptions" id="rarityAll"
                   value="all" (change)="getCardsFilter(selectedSetCode, selectedRarity, showOnlyMissing)">
            <label class="form-check-label" for="rarityAll"><span class="ss ss-bcore ss-timeshifted ss-fw"></span></label>
          </div>
          <div class="form-check form-check-inline font-14 mr-1">
            <input class="form-check-input m-0" [(ngModel)]="selectedRarity" type="radio" name="inlineRadioOptions" id="rarityCommon"
                   value="common" (change)="getCardsFilter(selectedSetCode, selectedRarity, showOnlyMissing)">
            <label class="form-check-label" for="rarityCommon"><span class="ss ss-bcore ss-common ss-fw"></span></label>
          </div>
          <div class="form-check form-check-inline font-14 mr-1">
            <input class="form-check-input m-0" [(ngModel)]="selectedRarity" type="radio" name="inlineRadioOptions" id="rarityUncommon"
                   value="uncommon" (change)="getCardsFilter(selectedSetCode, selectedRarity, showOnlyMissing)">
            <label class="form-check-label" for="rarityUncommon"><span class="ss ss-bcore ss-uncommon ss-fw "></span></label>
          </div>
          <div class="form-check form-check-inline font-14 mr-1">
            <input class="form-check-input m-0" [(ngModel)]="selectedRarity" type="radio" name="inlineRadioOptions" id="rarityRare"
                   value="rare" (change)="getCardsFilter(selectedSetCode, selectedRarity, showOnlyMissing)">
            <label class="form-check-label" for="rarityRare"><span class="ss ss-bcore ss-rare ss-fw"></span></label>
          </div>
          <div class="form-check form-check-inline font-14 mr-0">
            <input class="form-check-input m-0" [(ngModel)]="selectedRarity" type="radio" name="inlineRadioOptions" id="rarityMythic"
                   value="mythic" (change)="getCardsFilter(selectedSetCode, selectedRarity, showOnlyMissing)">
            <label class="form-check-label" for="rarityMythic"><span class="ss ss-bcore ss-mythic ss-fw"></span></label>
          </div>
        </li>
      </ul>
      <div *ngIf="selectedCards" class="input-group input-group-sm mb-1 mt-1">
        <input type="text" class="form-control hei-20 font-11" aria-label=""
               placeholder="Set Owned To..." [(ngModel)]="ownedCount">
        <div class="input-group-append pointer hei-20" (click)="setOwnedCount()"><div class="input-group-text">OK</div></div>
        <div class="input-group-append pointer hei-20" (click)="ownedCount = null"><div class="input-group-text">Reset</div></div>
      </div>
      <div *ngIf="selectedCards" class="input-group input-group-sm mt-1">
        <input type="text" class="form-control hei-20 font-11" aria-label=""
               placeholder="Set Buy To..." [(ngModel)]="buyPrice">
        <div class="input-group-append pointer hei-20" (click)="setBuyPrice()"><div class="input-group-text">OK</div></div>
        <div class="input-group-append pointer hei-20" (click)="buyPrice = null"><div class="input-group-text">Reset</div></div>
      </div>
      <ul class="list-group mt-1">
        <li class="list-group-item p-0">
          <div class="form-check form-check-inline font-14 ml-2">
            <i class="fas fa-bars font-16 mr-2"></i>
            <input class="form-check-input" [(ngModel)]="selectedSetCode" type="radio" name="inlineRadioOptionsSet" id="setAll"
                   value="all" (change)="getCardsFilter(selectedSetCode, selectedRarity, showOnlyMissing); selectedSet=null">
            <label class="form-check-label" for="setAll">ALL</label>
          </div>
        </li>
        <li class="list-group-item p-0">
          <div class="form-check form-check-inline font-14 ml-2">
            <i class="fas fa-puzzle-piece font-16 mr-1"></i>
            <input class="form-check-input" [(ngModel)]="selectedSetCode" type="radio" name="inlineRadioOptionsSet" id="setTokens"
                   value="tokens" (change)="getCardsFilter(selectedSetCode, selectedRarity, showOnlyMissing); selectedSet=null">
            <label class="form-check-label" for="setTokens">TOK</label>
          </div>
        </li>
      </ul>
      <ul class="list-group">
        <li class="list-group-item p-0" *ngFor="let mtgSet of mtgSets">
          <div class="form-check form-check-inline font-16 ml-1">
            <span class="ss ss-{{mtgSet.code}} ss-fw mr-1"></span>
            <input class="form-check-input" [(ngModel)]="selectedSetCode" type="radio" name="inlineRadioOptionsSet" id="{{mtgSet.code}}"
                   value="{{mtgSet.code}}" (change)="getCardsFilter(selectedSetCode, selectedRarity, showOnlyMissing); selectedSet=mtgSet">
            <label class="form-check-label" for="{{mtgSet.code}}"><span class="font-14">{{mtgSet.code.toUpperCase()}}</span></label>
          </div>
        </li>
      </ul>
    </div>

    <!-- Table -->
    <div class="col-md-10" *ngIf="!displayExport">
      <h5 *ngIf="selectedSet">
        <span class="ss ss-{{selectedSet.code}} ss-fw"></span>
        {{selectedSet.name}}
        <span class="font-12">({{selectedSet.released_at | date:'MMMM y'}} / {{selectedSet.card_count}})</span>
        <i class="font-12 fas fa-trash pointer ml-1" (click)="deleteSetAndCards(selectedSet.code)"></i>
      </h5>
      <table class="table table-sm table-hover" *ngIf="selectedCards">

        <thead class="font-14">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Set</th>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Mana</th>
          <th scope="col">CHF</th>
          <th scope="col">Buy</th>
          <th scope="col">Profit</th>
          <th scope="col">Owned</th>
          <th scope="col">In Deck</th>
          <th scope="col">Notes</th>
        </tr>
        </thead>

        <tbody class="font-11">

        <!-- Total Gain/Loss Footer -->
        <tr>
          <td>{{totalShown}}</td>
          <td colspan="4"></td>
          <td>{{totalSetCost * EUR_TO_CHF_FX | number:'1.0-2'}}</td>
          <td>{{totalBuyPrice | number:'1.0-2'}}</td>
          <td [ngClass]="{'red': totalGainLoss < 0, 'green': totalGainLoss > 0}">{{totalGainLoss | number:'1.0-2'}}</td>
          <td>{{totalOwnedCards}}</td>
          <td>{{totalInDeckCards}}</td>
        </tr>

        <!-- MAIN ROWS -->
        <tr *ngFor="let card of selectedCards">

          <!-- Number -->
          <td>{{card.collector_number}}</td>

          <!-- Set Icon -->
          <td>
            <span class="ss ss-{{card.set.length > 3 ? card.set.substr(1) : card.set}} ss-{{card.rarity}} pointer font-16"
                  (click)="openDialog(card)"></span>
          </td>

          <!-- Name -->
          <td>{{(card.name.length > TRIM_LENGTH) ? (card.name | slice:0:TRIM_LENGTH) + '..' : card.name}}</td>

          <!-- Type -->
          <td>{{(card.type_line.length > TRIM_LENGTH) ? (card.type_line | slice:0:TRIM_LENGTH) + '..' : card.type_line}}</td>

          <!-- Mana -->
          <td>
            <span *ngFor="let styleItem of card.mana_cost_display">
              <span *ngIf="styleItem !== '//'" class="ms {{styleItem}} ms-cost"></span>
              <span *ngIf="styleItem === '//'"> {{styleItem}} </span>
            </span>
          </td>

          <!-- Current value price -->
          <td>{{card.eur * EUR_TO_CHF_FX | number:'1.0-2'}}</td>

          <!-- Buy price -->
          <td>
            <input type="text" class="form-control form-control-sm my-form-style wid-40" aria-label=""
                   (change)="updateCard(card)" placeholder="" [(ngModel)]="card.purchase_price">
          </td>

          <!-- Profit -->
          <td [ngClass]="{'red': card.gain_loss < 0, 'green': card.gain_loss > 0}">
            {{card.gain_loss | number:'1.0-2'}}
          </td>

          <!-- Owned -->
          <td class="font-12">
            <i class="fas fa-angle-left pointer mr-1 font-16" (click)="decreaseOwnedByOne(card)"></i>
            {{card.collection_count}}
            <i class="fas fa-angle-right pointer ml-1 font-16" (click)="increaseOwnedByOne(card)"></i>
          </td>

          <!-- In Deck quantity -->
          <td class="font-12">
            <i class="fas fa-angle-left pointer mr-1 font-16" (click)="decreaseInDeckByOne(card)"></i>
            {{card.in_deck_count}}
            <i class="fas fa-angle-right pointer ml-1 font-16" (click)="increaseInDeckByOne(card)"></i>
          </td>

          <!-- Notes -->
          <td>
            <input type="text" class="form-control form-control-sm my-form-style" aria-label=""
                   (change)="updateCard(card)" placeholder="" [(ngModel)]="card.deck_note">
          </td>
        </tr>

        </tbody>
      </table>
    </div>

    <div class="col-md-10" *ngIf="displayExport">
      <div class="form-group">
        <label for="exportTextArea">Quick Export List</label>
        <textarea class="form-control" id="exportTextArea" rows="25">{{getStringExport()}}</textarea>
      </div>
    </div>

  </div>

</div>
