.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-20 {
  font-size: 20px;
}

.pointer {
  cursor: pointer;
}

table {
  width: 100%;
}

.material-icons.md-18 {
  font-size: 18px;
}
