.my-form-style {
  height: 16px;
  font-size: 11px;
}

.font-11 {
  font-size: 11px;
}

.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.pointer {
  cursor: pointer;
}

.wid-40 {
  width: 40px;
}

.hei-20 {
  height: 20px !important;
}

.red {
  color: red;
}

.green {
  color: green;
}

.my-dropdown {
  border-color: #dae0e5;
}
