<div class="container-fluid">
  <div class="row mt-2">

    <div class="col-md-2">
      <ul class="list-group">
        <li class="list-group-item">Deck1</li>
      </ul>
    </div>

    <div class="col-md-8">
      <input type="text" [(ngModel)]="deckTitle" placeholder="Deck Title"/>
      <textarea placeholder="Input deck here" rows="10" cols="10" class="form-control" [(ngModel)]="textAreaContent"></textarea>
      <button class="btn btn-primary mt-1" (click)="importDeck()">Import Deck</button>
    </div>

    <div class="col-md-2">
      <ul class="list-group" *ngFor="let log of rightLogArea">
        <li class="list-group-item">{{log}}</li>
      </ul>
    </div>
  </div>
</div>
