<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="mt-3">Import MTG set from Scryfall</h1>
      <p class="lead">Use this page to populate DB with all set-related information.</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="btn-toolbar mb-3" role="toolbar">
        <div class="input-group">
          <input placeholder="3-digits set code" type="text" class="form-control mb-2 mr-sm-2" id="code" [(ngModel)]="code" required>
        </div>
        <button type="button" [disabled]="!code" (click)="reset(); fetch(code)" class="btn btn-primary mb-2 mr-sm-2">Fetch</button>
        <button type="button" [disabled]="cards.length == 0" (click)="persistFetched()" class="btn btn-group mb-2 mr-sm-2">Persist</button>
        <button type="button" (click)="reset()" class="btn btn-dark mb-2">Reset</button>
      </div>
    </div>
  </div>

  <div class="row">

    <!-- Log -->
    <div class="col-3" *ngIf="importStatus">
      <h4>Import Log</h4>
      <div style="white-space: pre-wrap">{{importStatus}}</div>
    </div>

    <!-- Fetch Table -->
    <div class="col-9" *ngIf="cards.length != 0">
      <h4>{{set.name}} - {{set.card_count}} cards - {{set.released_at}}</h4>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Sort #</th>
          <th scope="col">Card #</th>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Rarity</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let card of cards">
          <th scope="row">{{card.display_number}}</th>
          <th>{{card.collector_number}}</th>
          <td>{{card.name}}</td>
          <td>{{card.type_line}}</td>
          <td>{{card.rarity}}</td>
          <td><i class="fas fa-plus text-warning pointer" (click)="addCard(card)"></i></td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
