<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>overmind</span>
      <span class="flex-spacer"></span>
      <div class="my-button-row">
        <a mat-raised-button routerLink="comics">Comics</a>
        <a mat-raised-button routerLink="mtg-dashboard">MTG Collection</a>
        <a mat-raised-button routerLink="mtg-scry-import">MTG Scry-Import</a>
      </div>
    </mat-toolbar>

    <!-- REAL PAGE CONTENT -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
