<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" href="/">Overmind</a>

  <div class="navbar-nav" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item"><a routerLink="comics" class="nav-link" routerLinkActive="active">Comics</a></li>

      <li class="nav-item dropdown">
        <div ngbDropdown class="d-inline-block">
          <a class="nav-link dropdown-toggle" style="cursor: pointer" id="mtgDropdown" ngbDropdownToggle>MTG</a>
          <div ngbDropdownMenu aria-labelledby="mtgDropdown">
            <a routerLink="mtg-dashboard" class="dropdown-item">Collection</a>
            <a routerLink="deck-manager" class="dropdown-item">Decks</a>
            <a routerLink="mtg-scry-import" class="dropdown-item">Scryfall import</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>

<!-- REAL PAGE CONTENT -->
<router-outlet></router-outlet>
