<div class="container-fluid">

  <div class="row">

    <!-- Left Column displaying all Series -->
    <div class="sidenav">
      <ul class="list-group">
        <li class="list-group-item list-group-item-action my-list-group-item pointer" (click)="refresh()">Refresh</li>
        <li class="list-group-item list-group-item-action my-list-group-item pointer" (click)="getMissingComics()">Missing</li>
        <li class="list-group-item list-group-item-action my-list-group-item pointer" *ngFor="let serie of series"
            (click)="getComicsBySerie(serie)">
          <div id="test2" class="progress_read" [ngStyle]="{'width': serie.read/serie.total*100 + '%'}">
            <div class="my-text">{{serie._id}} <b class="font-11">{{ serie.read }}/{{ serie.total }}</b></div>
          </div>
          <div id="test1" class="progress_archived" [ngStyle]="{'width': serie.archived/serie.total*100 + '%'}"></div>
        </li>
      </ul>
    </div>

    <!-- Main Table for Comics -->
    <div class="main" *ngIf="comics">
      <h3 >{{selectedSerie ? selectedSerie._id : 'Missing Comics'}}</h3>
      <table class="table table-sm table-hover">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Serie</th>
          <th scope="col">Release Date</th>
          <th scope="col">Title</th>
          <th scope="col">Pages</th>
          <th scope="col">Read Date</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody class="my-list-group-item">
        <tr *ngFor="let comic of comics | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize"
            [ngClass]="{'text-success': comic.read,
                        'text-dark': comic.in_collection && !comic.read,
                        'text-danger': !comic.in_collection}">
          <td>
            <input type="text" class="form-control form-control-sm my-form-style" aria-label=""
                   (change)="updateComic(comic)" placeholder="" [(ngModel)]="comic.serie_number">
          </td>
          <td>
            <input type="text" class="form-control form-control-sm my-form-style w-200" aria-label=""
                   (change)="updateComic(comic)" placeholder="" [(ngModel)]="comic.serie_title">
          </td>
          <td>
            <input type="text" class="form-control form-control-sm my-form-style w-date" aria-label=""
                   (change)="updateComic(comic)" placeholder="" [(ngModel)]="comic.release_date">
          </td>
          <td>
            <input type="text" class="form-control form-control-sm my-form-style w-200" aria-label=""
                   (change)="updateComic(comic)" placeholder="" [(ngModel)]="comic.title">
          </td>
          <td>
            <input type="text" class="form-control form-control-sm my-form-style w-25" aria-label=""
                   (change)="updateComic(comic)" placeholder="" [(ngModel)]="comic.pages">
          </td>
          <td>
            <input type="text" class="form-control form-control-sm my-form-style w-date" aria-label=""
                   (change)="updateComic(comic)" placeholder="" [(ngModel)]="comic.read_date">
          </td>
          <td>
            <i class="fas fa-bookmark pointer pr-1" (click)="comic.in_collection = !comic.in_collection; updateComic(comic)"
               [ngClass]="{'text-primary': comic.in_collection, 'text-black-50': !comic.in_collection}"></i>
            <i class="fas fa-archive pointer pr-1" (click)="toggleArchive(comic)"
               [ngClass]="{'text-primary': comic.archived, 'text-black-50': !comic.archived}"></i>
            <i class="fas fa-book pointer pr-1" (click)="toggleRead(comic)"
               [ngClass]="{'text-success': comic.read, 'text-black-50': !comic.read}"></i>
            <i class="fas fa-copy text-warning pointer pr-1" (click)="duplicate(comic)"></i>
            <i class="fas fa-trash text-danger pointer" (click)="remove(comic)"></i>
          </td>
        </tr>
        </tbody>
      </table>

      <div ngbDropdown placement="top-left" class="float-left">
        <button class="btn btn-sm mr-1" id="changePageSize" ngbDropdownToggle>Size</button>
        <div ngbDropdownMenu aria-labelledby="changePageSize">
          <button class="dropdown-item" (click)="pageSize=10">10</button>
          <button class="dropdown-item" (click)="pageSize=25">25</button>
          <button class="dropdown-item" (click)="pageSize=-1">All</button>
        </div>
      </div>

      <ngb-pagination
        [(page)]="page"
        [pageSize]="pageSize"
        [collectionSize]="comics.length"
        [maxSize]="5" [rotate]="true" [boundaryLinks]="true" size="sm"></ngb-pagination>
    </div>

  </div>

</div>
